# Application port
PORT=

# Evolution API base URL
EVOLUTION_API_URL=

# Evolution API key
EVOLUTION_API_KEY=

# Evolution instance name
EVOLUTION_INSTANCE=

# Evolution instance token
EVOLUTION_INSTANCE_TOKEN=